%p in users/index

%table
	%tr 
		%td= 'id' 
		%td='username'
		%td='password'
	-@users.each do |user|
		%tr 
			%td=user.id
			%td=user.username
			%td=user.password
			%td=link_to 'delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

=link_to 'home', root_path	