.alignRight{
    text-align: right;
    align: right;
    display: block;
}

#alignLeft {
    color: red;
    text-align: left;
    align: left;    
}

.some {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.articleTitle {
  font-size: 30px;
}

.articleText {
  
}

.articleLinks {
  align: right;
  text-align: right;
}

table, td,tr {
  padding: 30px;
  border-collapse: separate;
  border-spacing: 10px 50px;
}

td {
   padding: 40px;
   width: 50px; 
}

.fitted {
  margin: auto;
  position: absolute;
  top: 35px; left: 0; right: 0;
  height: 30%;
  width: 60%;
}

.plok {
    color:red;
    padding: 30px;
    margin: 50px;
  
}

.sidebarTable {
  background-color: blue;
  color: blue;

}
.sidebar {
  margin: auto;
  position: absolute;
  left: 0;
  height: 30%;
  width: 40%;
}
